{% extends "navigation.html" %}
{% block content %}
<body>
<div class="jumbotron">
    <h1 class="display-4">Welcome to Carson's Bookstore!</h1>
    <p class="lead">For Computer Science 431w with Dong Xie, Spring 2021</p>
    <hr class="my-4">
    <p>This website is written in Python using the Flask Framework, and a SQLite 3 Database for storage. Jinja and Bootstrap work together to form the frontend.</p>
    {% if session['user_id'] %}
        <p>Welcome back, you are currently logged in</p>
    {% else %}
        <a class="btn btn-dark btn-block" href="/login" role="button">Click here to sign into your account</a>
    {% endif %}
</div>
</body>
{% endblock %}