{% extends "navigation.html" %}
{% block content %}
<body>
    <h2 class="text-muted">Viewing author: </h2>
    <h1>{{author['name']}}</h1>
    <h2>Books by this author:</h2>
    <div class="row">
        {% for book in book_list_author %}
            {% include "book_card.html" %}
        {% endfor %}
    </div>
    <h2>Books by related authors, 1-degree Seperation:</h2>
    <div class="row">
        {% for book in book_list_1degree %}
            {% include "book_card.html" %}
        {% endfor %}
    </div>
    <h2>Books by related authors, 2-degree Seperation:</h2>
    <div class="row">
        {% for book in book_list_2degree %}
            {% include "book_card.html" %}
        {% endfor %}
    </div>
    
</body>
{% endblock %}