{% extends "navigation.html" %}
{% block content %}
<body>
    <div class="container-fluid">
        <div class="row">
            <h1>{{book['title']}}</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h5>By: 
                    {% for author in author_list %}
                        <a href="/view-author?authorID={{author['id']}}" class="link-primary">{{author['name']}}</a><br>
                    {% endfor %}
                </h5>
            </div>
            <div class="col-sm-2">
                Overall rating is <b>{{"%.1f"|format(rating)}}</b>
            </div>
            <div class="col-sm-4">
                <p>
                {% if book['stock'] > 0 %}
                In stock at ${{book['price']}}
                {% else %}
                Out of Stock, usually ${{book['price']}}
                {% endif %}
                {% if book['discount'] %}
                     | Book is on sale! <br>Discount is {{100*book['discount']}}% off;
                    adjusted price is ${{"%.2f"|format(book['realPrice'])}}
                {% endif %}
            </p>
            </div>
            
            <div class="col-sm-2">
                <form action="/update-item" method="POST">
                    <input type="hidden" name="bookID" value="{{book['id']}}">
                    <input type="hidden" name="quantity" value="1">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-dark" {% if book['stock'] <= 0 %}disabled{% endif %}>Order Now</button>
                    </div>
                </form>
            </div>
        </div>
        {% if session['role'] == "manager" %}
            <div class="d-grid gap-2">
                <a class="btn btn-dark button" href="/update-book?bookID={{book['id']}}" role="button">Update this Book</a> 
            </div><br>
        {% endif %}
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Publisher</td>
                    <td>{{book['publisher']}}</td>
                </tr>
                <tr>
                    <td>Publish Date</td>
                    <td>{{book['pub_date'].split(" ")[0]}}</td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>{{book['language']}}</td>
                </tr>
                <tr>
                    <td>Page Count</td>
                    <td>{{book['num_pages']}}</td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td>{{book['isbn']}}</td>
                </tr>
                <tr>
                    <td>ISBN (13)</td>
                    <td>{{book['isbn13']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>Add a comment</h2>
    <form action="update-comment" method="POST">
        <div class="form-group">
            <label for="score">Score for book</label>
            <select class="form-control" name="score"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>
        </div>
        <div class="form-group">
            <label for="content">Leave a review</label>
            <input type="text" class="form-control" name="content">
        </div>
        <input type="hidden" value="{{book['id']}}" name='book_id'>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark">Leave comment</button>
        </div>
    </form>
    <br>
    <h2>View comments</h2>
    <form action="/view-book" method="GET">
        <input type="hidden" name="bookID" value="{{book['id']}}">
        <div class="form-group">
            <label for="numRows">Number of Comments to View</label>
            <input type="number" class="form-control" name="numRows" value="5">
        </div>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark button">Get Comments</button>
        </div>
    </form>
    <br>
    {% if comment_list %}
        {% for comment in comment_list %}
        <div class="row">
            <div class="col-sm-8">
                {% include "comment_card.html" %}
            </div>
            <div class="col-sm-4">
                {% if comment['user_id'] != session.get('user_id') %}
                <h6>Rate this comment </h6>
                <form action="/update-rating" method="POST">
                    <input type="hidden" value="{{comment['id']}}" name="comment_id">
                    <input type="hidden" value="1" name="value"><div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Very Useful</button>
                    </div>
                </form>
                <form action="/update-rating" method="POST">
                    <input type="hidden" value="{{comment['id']}}" name="comment_id">
                    <input type="hidden" value="0" name="value"><div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Useful</button>
                    </div>
                </form>
                <form action="/update-rating" method="POST">
                    <input type="hidden" value="{{comment['id']}}" name="comment_id">
                    <input type="hidden" value="-1" name="value"><div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Not Useful</button>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6">
                        <form action="/my-trusted-users" method="POST">
                            <input type="hidden" value="{{comment['user_id']}}" name="user_id">
                            <input type="hidden" value="1" name="value">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-outline-secondary btn-sm">Trust user</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form action="/my-trusted-users" method="POST">
                            <input type="hidden" value="{{comment['user_id']}}" name="user_id">
                            <input type="hidden" value="-1" name="value">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-outline-secondary btn-sm">Distrust user</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</body>
{% endblock %}